#user-setting-wrapper{

}

.user-setting-container{

}

.user-setting-top{

}


.user-setting-top-title {
    font-weight: bold;
    text-align: left; 
    padding: 10px 0 0 150px;  
    font-size: 30px;
}